/* =============== EMPRESA =============== */

.localizacao-pagina {
    height: 5.5rem ;
    padding-top: 8px;
}

.open{font-family: 'Open Sans', sans-serif;}

.btn_cinza_escuro{
    background: #9a9a9a;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}

.btn_float{
    position: absolute;
    bottom:10px;
    z-index: 99;
}

.dicas .card,.produtos .card{
    border: 0;
}

.dicas .card-body {
    min-height: 47px;
}

.dicas h6{
    color: #424242;
    font-weight: 400;
}
.font-index h4{
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 3px #000000;
    font-weight:700;
}

.font-index h5{
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 3px #000000;
    
}

.produtos .card-body{
  
}

.localizacao-pagina h5,.empresa_geral h5,.empresa_geral h4{
    color: #848585;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) ;
}

.localizacao-pagina h6{
    font-weight: 400;
    color: #696a6a;
}

.produtos h6{
    color: #000;
    font-weight: 700;
}

.borda-produto{
    border-bottom: 1px solid #000;
    overflow: hidden;
    padding-bottom: 10px;
}

.empresa_geral h6{
     color: #444444;
     font-weight: 400;
 }

.empresa_geral h6 span{
    font-weight: 700;
    
}


.btn_cinza_escuro,.menu_Cat .list-group-item.active {
    background: #FE1101;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    border: 0;

}


.btn_Cat {
    background: none;
    color: #FE1101;
    border: 1px solid #FE1101;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;

}

.open h6{
    font-size: 12px;
    color: #000;
}

.interna{
    height: inherit;
}

.btn_map{
    background: #9a9a9a;
    color: #fff;
    border-radius: 5px;

}



.index-bg-icones {
    min-height: 52px;
    padding: 5px 5px;
    background: #fff;
    opacity: .8;
    border-radius: 10px;
    text-align: center;
    display: block;
    min-height: 88px;
    border: #FE1101 2px solid;
  }

  .index-bg-icones h6{
      color: #000;
     font-size: 0.7rem;
  }

  .index-bg-icones i.fa{
    font-size: 2.5em;
    color: #000;
  }

  .lista-unidades{
      margin-bottom: 20px;
      display: block;
  }

  .titulo-unidade{
    background: #e9ecef;
    padding: 10px;
  }

  .lista-produto{
	border: 0;
    background: #f8f8f8;
    padding: 12px;
    margin-right: 6px;
    border-radius: 0px;
    overflow: hidden;
}

.lista-produto h6{
	border-bottom: 6px solid #8F9092;
    padding-bottom: 10px;
    text-transform: uppercase;
}




.bg-index{
    background: url("./imgs/bg-home.jpg") top center no-repeat;
    background-size: 100%;
}

.btn-verde{
    background: #FE1101;
    color: #fff;
}

.btn-verde-2{
    background: #4fc6f2;
    color: #fff;
}


.btn-default{
    border: 1px solid #FE1101;
}

.bg-empresa{
    background: url("../imgs/bg_empresa.jpg") top center no-repeat;
}

.bg-azul{
    background: #FE1101;
    overflow: auto;
    color: #fff;
}

.lista-vacinas{
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
}

.lista-calndarios{
    background: #FE1101;
    color: #fff;
    padding: 10px;
}